.git/
.env
.venv
.qodo
tests/
*.log
__pycache__/
*.pyc
.vscode/
.github
.gitignore
compose.yaml
hap_config.json
hap_state.jsom
miscript.service
readme.md
respuesta_estados.json
runme.sh
washer.json
Dockerfile
requirements.txt